name: CI Pipeline

on: [push, pull_request]

jobs:
    test:
        runs-on: ubuntu-latest

        env:
            DATABASE_URL: "file:./db_test.db"

        steps:
        -   name:   Checkout code
            uses: actions/checkout@v3

        -   name:   Setup Node.js
            uses:   actions/setup-node@v3
            with:
                node-version:   '20'
            
        -   name:   Install Dependencies
            run:    npm ci

        -   name:   Generate Prisma Client
            run:    npx prisma generate

        -   name:   Run Unit Tests
            run:    npm test
